<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css')}}">
    <title>Profile</title>
</head>
<body>
    <div class="intro">
        <div class="black"></div>  
        <div class="white"></div>
        <div class="boxfather">
        </div>
        <div class="login">
          <h1 style="text-align: center;">PROFILE</h1><br>
          <h2>Username: {{username}}</h2><br>
          <h3>Balance: {{balance}}</h3>
        </div>
      </div>
</body>
</html>

